<div id="header">
    <a href="/">
        <i class="fa-solid fa-house"></i> <span>Character Manager</span>
    </a>
    <div id="mini-links">
        <a href="/character">Your Characters</a>
    </div>
    <div class="spacer"></div>
    <i class="fa-solid fa-bars"></i>
</div>
