<div id="header">
    <a href="/">
        <i class="fa-solid fa-house"></i> <span>Character Manager</span>
    </a>
    <div id="mini-links">
        <a href="/character">Your Characters</a>
    </div>
    <div class="spacer"></div>
    <i
        class="fa-solid fa-bars"
        onclick="if(document.getElementById('hamburger-menu').style.display !== 'block') {document.getElementById('hamburger-menu').style.display = 'block'} else {document.getElementById('hamburger-menu').style.display = 'none'}"
    ></i>
</div>
<div id="hamburger-menu">
    <ul>
        <li><a href="/user">User Page</a></li>
        <li><a href="/character">Your Characters</a></li>
        <li><a href="/character/new">New Character</a></li>
    </ul>
</div>
