<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head.ejs") %>
    </head>
    <body>
        <%- include("./partials/header.ejs") %>
        <main>
            <h1>Home</h1>
            <% if(user) { %>
                Hello <%=user.username%>!
            <% } else { %>
                <a href="/sessions/new">
                    <button>Login</button>
                </a>
            <% } %>
        </main>
    </body>
</html>
