body {
    margin: 0;
    background-color: gray;
}
main {
    padding-left: 2em;
    padding-right: 2em;
}
#header {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    font-family: "nelson", sans-serif;
    position: relative;
}
#header a {
    color: unset;
    text-decoration: unset;
}
#header > * {
    align-self: stretch;
    display: flex;
    align-items: center;
}
#header > a {
    font-size: 16pt;
    font-weight: 700;
    font-style: normal;
}
#header > #mini-links {
    padding-left: 2em;
}
.spacer {
    flex-grow: 1;
}
.fa-solid {
    padding: 10px;
    font-size: 16pt;
}
#hamburger-menu {
    position: absolute;
    right: 0;
    top: calc(16pt + 20px);
    padding-right: 20px;
    background-color: black;
    color: white;
    display: none;
}
#hamburger-menu a {
    color: white;
}
#hamburger-menu a:visited {
    color: lightgray;
}
#char-list {
    padding: 0;
    display: flex;
    align-content: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}
#char-list li {
    list-style: none;
    display: inline-block;
}
#char-list img {
    max-width: 100%;
}
#char-list a {
    color: unset;
    text-decoration: unset;
}
.card {
    width: 150px;
    height: 100%;
    background-color: lightgray;
    padding: 5px;
    border: 2px solid black;
    box-sizing: border-box;
}
.card > strong {
    text-decoration: underline;
    text-align: center;
    display: inline-block;
    width: 100%;
}

@media (max-width: 500px) {
    #mini-links {
        display: none;
    }
}
