<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
</head>
<body>
    <%- include("../partials/header.ejs") %>
    <main>
        <h1>Create an Account</h1>
        <form action="/users" method="POST">
            Username: <input type="text" name="username" /><br />
            Password: <input type="password" name="password" />
            <br /><br />
            <input type="submit" value="Create Account" />
        </form>
    </main>
</body>
</html>